html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.jpg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: rgb(73, 62, 62);
  text-decoration: none;
}

.content {
  width: 100%;
}
